* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Poppins', sans-serif;
}

.pageContainer {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
}
